<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- *** Web *** -->

    <div class="hidden xl:grid grid-cols-10 h-[170px]">
        <div class="col-span-8">
            <div class="flex gap-5 pl-20 pt-5">
                <div>HOME</div>
                <div>ABOUT Us</div>
                <div>SERVICES</div>
                <div>OUR PORTFOLIO</div>
            </div>
            <div class="bg-green-500 ml-10 mt-3 w-[850px] h-[5px]"></div>
            <div class="text-[16px] font-keania-one ml-[430px] mt-3">@ 2024 MID SOLUTION. ALL RIGHT RESERVED. PRIVACY
                POLICY SITEMAP FAQ</div>
            <div class="text-[16px] font-keania-one ml-10 mt-3">PLANET GREEN SOLUTION IS RATED 4.7 STARS -BASED ON 44
                REVIEWS IN GOOGLE BUSINESS LISTING.</div>
        </div>
        <div class="col-span-2">
            <div class="text-[30px] p-2 font-keania-one">+971521289781</div>
            <div class="ml-10 font-bold">Location Address</div>
            <div class=" ml-10 pt-2 w-[230px]">Office 1002 buj Gate Tower,</div>
            <div class=" ml-10 pt-2 w-[230px]">Shiekh Zayed Ried</div>
        </div>
    </div>


        <!-- *** Mobile *** -->

    <div class="hidden xl-max:flex">
        <div class="w-full h-[120px]  pt-2">
            <div class=" flex justify-center">
                <div>
                    <div class="text-[12px] font-keania-one pl-5">@ 2024 MID SOLUTION. ALL RIGHT </div>
                    <div class="text-[12px] font-keania-one">RESERVED. PRIVACY POLICY SITEMAP FAQ</div>
                </div>
            </div>

            <div class="bg-slate-500 w-full h-1 mt-2"></div>

            <div class="flex justify-between items-center">
                <div>
                    <div class="font-keania-one">Location Addres</div>
                    <div class="font-medium text-[10px]">Office 1992 Buj Game Tower.</div>
                    <div class="font-medium text-[10px]">Sheakh Zayed Round</div>
                </div>

                <div>
                    <div class="font-keania-one text-[20px]">+971521289781</div>
                </div>

            </div>


        </div>
    </div>

</body>

</html>